.stats-section {
    width: 100%;
    background-color: black;
  }
  
  .stats {
    width: 100%;
    background-color: black;
  }
  
  .stats-overlay {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .statsbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    padding: 40px 0;
    gap: 8px;
  }
  
  .stat-box {
    text-align: center;
    color: #fff;
    flex: 0 0 22%;
  }
  
  @media (max-width: 991px) {
    .stat-box {
      flex: 0 0 45%;
    }
  }
  
  @media (max-width: 576px) {
    .stat-box {
      flex: 0 0 33%;
    }
  }
  
  .stat-number {
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 5px;
  }
  
  .suffix {
    font-size: 30px;
    color: #00cfff;
    font-weight: 500;
  }
  
  .stat-title {
    font-size: 18px;
    font-weight: 600;
  }
  .stats.About-me-container{
    background-position: right;
  }
  